body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Martel Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');



code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: Martel Sans, sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  
}

main {
  margin: 25px;
  margin: 0px 25px
}

.card-body {
	background-color: #654A4E;
}

/* a:hover {

} */